@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.woff2') format('woff2'), url('OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'), url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: #000000;
    background-repeat: repeat;
    background-size: cover;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

.cont {
    background: linear-gradient(-180deg, rgba(207, 20, 20, 0.5)0%, rgba(247, 78, 78, 0.87)100%);
    background: url("E.jpg") no-repeat center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.loader {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 40px;
}

.loader object {
    width: 40px;
}

.content {
    text-align: center;
    padding-top: 23%;
}

.content span {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 58px;
    font-weight: 300;
    color: rgb(68, 145, 196);
    display: none;
    font-style: inherit;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 10px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    min-width: 170px;
    border: 3px solid;
    padding: 17px 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 0;
    border-color: #8a75cd;
    color: #8a75cd;
    border-color: rgb(177, 177, 177);
    color: rgb(139, 139, 139);
}

.btn:hover {
    background: rgb(107, 40, 146);
    color: #000000;
    border-color: rgb(37, 51, 97);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Projects {
    background-color: #2c2c2c;
    border-radius: 20px
}

.zoom {
    background-color: #410000;
    padding: 50px;
    background-image: url("BG2.png");
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 60px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.zoom:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom1 {
    /*Twitter */
    background-color: #410000;
    padding: 50px;
    background-image: url("Twitter.png");
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 60px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.zoom1:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom2 {
    /*YT */
    background-color: #410000;
    padding: 50px;
    background-image: url("Youtube.png");
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 60px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.zoom2:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom3 {
    /*Insta*/
    background-color: #410000;
    padding: 50px;
    background-image: url("Instagram.png");
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 60px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.zoom3:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom4 {
    /*Dis*/
    background-color: #410000;
    padding: 50px;
    background-image: url("Discord.png");
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 60px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.zoom4:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom5 {
    /*Dis*/
    background-color: #410000;
    padding: 50px;
    background-image: url("1.png");
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 60px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.zoom5:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}