@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.woff2') format('woff2'), url('OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'), url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: #000000;
    background-repeat: repeat;
    background-size: cover;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

.cont {
   /* background-image: linear-gradient(rgb(0, 0, 0) 60%, rgba(255, 255, 0, 0));
    
    */
    width: auto;
    height: 100vh;
    position: relative;
}

.loader {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 40px;
}

.loader object {
    width: 40px;
}

.content {
    text-align: center;
    padding-top: 23%;
}

.content span {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 58px;
    font-weight: 300;
    
    display: none;
    font-style: inherit;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 10px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    min-width: 170px;
    border: 3px solid;
    padding: 17px 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 0;
    border-color: #8a75cd;
    color: #8a75cd;
    border-color: rgb(0, 0, 0);
    color: rgb(139, 139, 139);
}

.btn:hover {
    background: rgb(107, 40, 146);
    color: #000000;
    border-color: rgb(37, 51, 97);
}
.btn1 {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 10px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    min-width: 170px;
    border: 3px solid;
    padding: 17px 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 0;
    border-color: #cd7575;
    color: #cd7575;
    border-color: rgb(255, 255, 255);
    color: rgb(139, 139, 139);
}

.btn1:hover {
    background: rgb(146, 40, 40);
    color: #000000;
    border-color: rgb(97, 46, 37);
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Projects {
    background-color: #2c2c2c;
    border-radius: 20px
}
#foot{
    background-color: #000000a8;
    height: 100px;
    width: auto;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.486);
    transition: 0.7s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.418);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.con{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none
}
/* video background */
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  /* page content */
  h1, h2 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    margin-top: 30vh; 
  }
  
  h2 { font-size: 3rem; }
  
  @media (max-width: 750px) {
      #background-video { display: none; }
      body {
        background-color: #000000;
        background-size: cover;
      }
  }

  .about{
     background-color: #00000041;
     backdrop-filter: blur(10px);
     padding-bottom: 30px;
  }
.para{
    padding-left: 55%;
}