@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
html {
    background-color: #000000;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}

#one {
    color: rgb(224, 114, 114)
}

#two {
    color: rgb(81, 134, 248);
    font-family: 'Courier New', Courier, monospace
}

#Post {
    background: rgba(169, 158, 35, 0.50);
    border: #000000;
    border-radius: 20px;
}

#foot {
    background: #37474f;
    background: -webkit-linear-gradient(#000000, #000000);
    background: -moz-linear-gradient(#000000, #000000);
    background: linear-gradient(#000000 #000000);
}

#social {
    background: #466368;
    background: -webkit-linear-gradient(#3f3f3f, #3f3f3f);
    background: -moz-linear-gradient(#3f3f3f, #3f3f3f);
    background: linear-gradient(#3f3f3f #3f3f3f);
    border: #000000;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    margin: auto
}

#three {
    color: rgb(145, 145, 145)
}

.button2 {
    background-color: #5fc478;
    padding: 5px 10px;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.button3 {
    background-color: #8586ddbe;
    padding: 10px 24px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

#four {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#five {
    font-family: 'Courier New'
}

#six {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#landing-content {
    overflow: hidden;
    background-image: url(http://i.imgur.com/F2FPRMd.jpg);
    width: 100%;
    background-size: 150% 150%;
    background-repeat: no-repeat;
    max-height: 500px;
    border-bottom: solid;
    border-bottom-color: #628027;
    border-bottom-width: 5px;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 200px;
    max-width: 1002px;
}

.slider img {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

body {
    transition: 0.3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anime {
    animation-delay: linear 3s;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 10px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    min-width: 170px;
    border: 3px solid;
    padding: 17px 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 0;
    border-color: #8a75cd;
    color: #8a75cd;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btn:hover {
    background: rgb(0, 0, 0);
    color: #ffffff;
    border-color: rgb(197, 201, 0);
}

.content {
    text-align: center;
    padding-top: 23%;
    padding-bottom: 23%;
}

.content span {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 70px;
    font-weight: 300;
    color: rgb(85, 85, 85);
    border: 10px rgb(165, 162, 0);
}

.container {
    background: url(Splash.jpg) no-repeat center center fixed;
    width: 95vw;
    height: 100vh;
    position: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}