@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.woff2') format('woff2'), url('OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'), url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: #000000;
    background-repeat: repeat;
    background-size: cover;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

.container {
    background: linear-gradient(-180deg, rgba(207, 20, 20, 0.5)0%, rgba(247, 78, 78, 0.87)100%);
    background: url("Splash1.jpg") no-repeat center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.loader {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 40px;
}

.loader object {
    width: 40px;
}

.content {
    text-align: center;
    padding-top: 23%;
}

.content span {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 58px;
    font-weight: 300;
    color: rgb(0, 119, 199);
    display: none;
    font-style: inherit;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 10px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    min-width: 170px;
    border: 3px solid;
    padding: 17px 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 0;
    border-color: #8a75cd;
    color: #8a75cd;
    border-color: rgb(177, 177, 177);
    color: rgb(139, 139, 139);
}

.btn:hover {
    background: rgb(107, 40, 146);
    color: #000000;
    border-color: rgb(37, 51, 97);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Post {
    background-image: url("star.jpg");
    padding: 20px;
    background-color: rgba(102, 102, 102, 0.30);
    border-radius: 50px;
}

#foot {
    font-family: 'Gemunu Libre', sans-serif;
}

.container1 {
    background: linear-gradient(-180deg, rgba(207, 20, 20, 0.5)0%, rgba(247, 78, 78, 0.87)100%);
    background: url("bg.jpg") no-repeat center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container2 {
    background: linear-gradient(-180deg, rgba(207, 20, 20, 0.5)0%, rgba(247, 78, 78, 0.87)100%);
    background: url("Splash.jpg") no-repeat center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container3 {
    background: linear-gradient(-180deg, rgba(207, 20, 20, 0.5)0%, rgba(247, 78, 78, 0.87)100%);
    background: url("one.jpg") no-repeat center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#client {
    background: url("abt.jpg") no-repeat center;
    border-radius: 15px;
}

.container4 {
    background: linear-gradient(-180deg, rgba(207, 20, 20, 0.5)0%, rgba(247, 78, 78, 0.87)100%);
    background: url("one.jpg") no-repeat center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.Dem {
    background-color: #ee7190;
    padding: 20px;
    border-radius: 50px;
    width: auto;
}